### Importing Packages

In [71]:
import pandas as pd
import numpy as np
import datetime as dt

### Loading csv files into dataframes

In [2]:
df1 = pd.read_csv('./csv files original/202108-divvy-tripdata.csv')
df2 = pd.read_csv('./csv files original/202109-divvy-tripdata.csv')
df3 = pd.read_csv('./csv files original/202110-divvy-tripdata.csv')
df4 = pd.read_csv('./csv files original/202111-divvy-tripdata.csv')
df5 = pd.read_csv('./csv files original/202112-divvy-tripdata.csv')
df6 = pd.read_csv('./csv files original/202201-divvy-tripdata.csv')
df7 = pd.read_csv('./csv files original/202202-divvy-tripdata.csv')
df8 = pd.read_csv('./csv files original/202203-divvy-tripdata.csv')
df9 = pd.read_csv('./csv files original/202204-divvy-tripdata.csv')
df10 = pd.read_csv('./csv files original/202205-divvy-tripdata.csv')
df11 = pd.read_csv('./csv files original/202206-divvy-tripdata.csv')
df12 = pd.read_csv('./csv files original/202207-divvy-tripdata.csv')

### Checking no. of columns in all dataframes

In [3]:
for df in [df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12]:
    print(df.shape)

(804352, 13)
(756147, 13)
(631226, 13)
(359978, 13)
(247540, 13)
(103770, 13)
(115609, 13)
(284042, 13)
(371249, 13)
(634858, 13)
(769204, 13)
(823488, 13)

### Combining all dataframes into one single dataframe

In [4]:
df_all_1 = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12], axis=0)
df_all_1.shape

(5901463, 13)

In [5]:
df_all_1

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,99103BB87CC6C1BB,electric_bike,2021-08-10 17:15:49,2021-08-10 17:22:44,NaN,NaN,NaN,NaN,41.77,-87.68,41.77,-87.68,member
1,EAFCCCFB0A3FC5A1,electric_bike,2021-08-10 17:23:14,2021-08-10 17:39:24,NaN,NaN,NaN,NaN,41.77,-87.68,41.77,-87.63,member
2,9EF4F46C57AD234D,electric_bike,2021-08-21 02:34:23,2021-08-21 02:50:36,NaN,NaN,NaN,NaN,41.95,-87.65,41.97,-87.66,member
3,5834D3208BFAF1DA,electric_bike,2021-08-21 06:52:55,2021-08-21 07:08:13,NaN,NaN,NaN,NaN,41.97,-87.67,41.95,-87.65,member
4,CD825CB87ED1D096,electric_bike,2021-08-19 11:55:29,2021-08-19 12:04:11,NaN,NaN,NaN,NaN,41.79,-87.60,41.77,-87.62,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
823483,605787F70B3B9FD3,electric_bike,2022-07-09 08:32:15,2022-07-09 08:56:10,NaN,NaN,NaN,NaN,41.74,-87.68,41.75,-87.68,member
823484,F0EECBEE637DF028,electric_bike,2022-07-17 13:27:57,2022-07-17 13:33:09,NaN,NaN,NaN,NaN,41.87,-87.66,41.87,-87.68,member
823485,B8B091DC72DDAB9D,electric_bike,2022-07-17 14:51:37,2022-07-17 14:57:01,NaN,NaN,NaN,NaN,41.95,-87.64,41.95,-87.65,member
823486,B4D3FFCC1F3AF5EC,electric_bike,2022-07-28 13:41:50,2022-07-28 13:47:17,NaN,NaN,NaN,NaN,41.88,-87.63,41.87,-87.63,member
823487,AA9217C8DA3BAC0B,electric_bike,2022-07-29 13:05:20,2022-07-29 13:10:40,NaN,NaN,NaN,NaN,41.90,-87.66,41.90,-87.67,member

In [7]:
# saving dataframe as csv file for future reference
df_all_1.to_csv('./aug_2021_to_sep_2022_bikeshare_data_raw.csv')

### Summary of the data

In [8]:
df_all_1.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5901463 entries, 0 to 823487
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   ride_id             5901463 non-null  object
 1   rideable_type       5901463 non-null  object
 2   started_at          5901463 non-null  object
 3   ended_at            5901463 non-null  object
 4   start_station_name  5040677 non-null  object
 5   start_station_id    5040679 non-null  object
 6   end_station_name    4981567 non-null  object
 7   end_station_id      4981567 non-null  object
 8   start_lat           5901463 non-null  float64
 9   start_lng           5901463 non-null  float64
 10  end_lat             5895873 non-null  float64
 11  end_lng             5895873 non-null  float64
 12  member_casual       5901463 non-null  object
dtypes: float64(4), object(9)
memory usage: 630.3+ MB

### Data Cleaning

In [9]:
# Identifying which columns have null values
df_all_1.isnull().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    860786
start_station_id      860784
end_station_name      919896
end_station_id        919896
start_lat                  0
start_lng                  0
end_lat                 5590
end_lng                 5590
member_casual              0
dtype: int64

In [49]:
# Column wise percentage of missing values
df_all_1.isnull().mean()*100

ride_id                0.000000
rideable_type          0.000000
started_at             0.000000
ended_at               0.000000
start_station_name    14.585976
start_station_id      14.585943
end_station_name      15.587592
end_station_id        15.587592
start_lat              0.000000
start_lng              0.000000
end_lat                0.094722
end_lng                0.094722
member_casual          0.000000
dtype: float64

In [50]:
# Rows with missing values
df_all_1[df_all_1.isnull().any(axis=1)].head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,99103BB87CC6C1BB,electric_bike,2021-08-10 17:15:49,2021-08-10 17:22:44,NaN,NaN,NaN,NaN,41.77,-87.68,41.77,-87.68,member
1,EAFCCCFB0A3FC5A1,electric_bike,2021-08-10 17:23:14,2021-08-10 17:39:24,NaN,NaN,NaN,NaN,41.77,-87.68,41.77,-87.63,member
2,9EF4F46C57AD234D,electric_bike,2021-08-21 02:34:23,2021-08-21 02:50:36,NaN,NaN,NaN,NaN,41.95,-87.65,41.97,-87.66,member
3,5834D3208BFAF1DA,electric_bike,2021-08-21 06:52:55,2021-08-21 07:08:13,NaN,NaN,NaN,NaN,41.97,-87.67,41.95,-87.65,member
4,CD825CB87ED1D096,electric_bike,2021-08-19 11:55:29,2021-08-19 12:04:11,NaN,NaN,NaN,NaN,41.79,-87.60,41.77,-87.62,member

In [39]:
# Total no of rows that contain null values in any column
df_all_1.isnull().any(axis = 1).sum()

1272233

-





As there are only a maximum of 15% missing values per column and there seems no way to retrieve those values ... we shall be dropping all records(instead of whole column) from the dataframe for now



-

In [51]:
df_all_2 = df_all_1.dropna(axis = 0)
df_all_2.shape

(4629230, 13)

In [52]:
#verifying
df_all_2.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

-

This looks alright till now

Now we shall look if there is any duplicate ids in dataset

-

In [56]:
df_all_2.duplicated().sum()

0

In [57]:
df_all_2.duplicated(subset = ['ride_id']).sum()

0

-


We can see that there is no duplicate ids in the dataset.

Now we shall do column by column analysis, checking if any column has incorrect values or datatypes and do transformations as required.



-

In [60]:
# Id column
df_all_2.ride_id.unique().shape

(4629230,)

--



As all the values are unique, we can jump to the next fields


__

In [61]:
# rideable_type column
df_all_2.rideable_type.unique()

array(['classic_bike', 'electric_bike', 'docked_bike'], dtype=object)

--




So there are only 3 different bike types in this dataset and it looks good. Next column....

Both started_at and ended_at are treated as string type which is not right. Let's change these to datetime object


--

In [67]:
df_all_3 = df_all_2

In [68]:
df_all_3.started_at = pd.to_datetime(df_all_2.started_at)
df_all_3.ended_at = pd.to_datetime(df_all_2.ended_at)

C:\Users\proty\anaconda3\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [69]:
df_all_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4629230 entries, 30 to 823314
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 494.5+ MB

In [72]:
df_all_3.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
30,DD06751C6019D865,classic_bike,2021-08-08 17:21:26,2021-08-08 17:25:37,Desplaines St & Kinzie St,TA1306000003,Kingsbury St & Kinzie St,KA1503000043,41.888716,-87.644448,41.889177,-87.638506,member
36,79973DC3B232048F,classic_bike,2021-08-27 08:53:52,2021-08-27 09:18:29,Larrabee St & Armitage Ave,TA1309000006,Michigan Ave & Oak St,13042,41.918084,-87.643749,41.900960,-87.623777,member
40,0249AD4B258806AD,classic_bike,2021-08-08 12:59:18,2021-08-08 12:59:55,Aberdeen St & Jackson Blvd,13157,Aberdeen St & Jackson Blvd,13157,41.877726,-87.654787,41.877726,-87.654787,member
72,F41EB054E44ACFDA,classic_bike,2021-08-12 16:52:09,2021-08-12 16:56:51,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,casual
121,B149E6C71A1C3B14,classic_bike,2021-08-23 15:33:04,2021-08-23 16:09:00,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,casual

--




We shall sort the dataframe by started_at





--

In [73]:
df_all_3.sort_values(by=['started_at'], inplace=True, ascending=True)
df_all_3

C:\Users\proty\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
175325,D6AC43863387B96A,classic_bike,2021-08-01 00:00:04,2021-08-01 00:13:28,Clark St & Wrightwood Ave,TA1305000014,Ashland Ave & Wrightwood Ave,13296,41.929546,-87.643118,41.928830,-87.668507,member
25013,00015E7CD37F64C4,classic_bike,2021-08-01 00:00:17,2021-08-01 00:05:10,Racine Ave & Fullerton Ave,TA1306000026,Halsted St & Wrightwood Ave,TA1309000061,41.925563,-87.658404,41.929143,-87.649077,member
782029,3B9554C394136D13,classic_bike,2021-08-01 00:00:19,2021-08-01 00:05:54,Wells St & Huron St,TA1306000012,Wells St & Evergreen Ave,TA1308000049,41.894722,-87.634362,41.906724,-87.634830,casual
397098,3F35D7C35A1DB902,classic_bike,2021-08-01 00:00:27,2021-08-01 00:12:17,Halsted St & Dickens Ave,13192,Wilton Ave & Belmont Ave,TA1307000134,41.919936,-87.648830,41.940180,-87.653040,member
777801,A39DD0D9AD715E27,classic_bike,2021-08-01 00:00:32,2021-08-01 00:12:06,Broadway & Waveland Ave,13325,Lincoln Ave & Roscoe St,TA1307000138,41.949074,-87.648636,41.943340,-87.670970,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
359852,4EA30C562A5E4627,classic_bike,2022-07-31 23:58:41,2022-08-01 00:03:48,Clark St & Armitage Ave,13146,Wells St & Evergreen Ave,TA1308000049,41.918306,-87.636282,41.906724,-87.634830,casual
189871,A9E5A3BD76BB3588,docked_bike,2022-07-31 23:58:47,2022-08-01 00:06:04,Southport Ave & Roscoe St,13071,Damen Ave & Melrose Ave,13143,41.943739,-87.664020,41.940600,-87.678500,casual
147856,E77BC768DD3C65C4,electric_bike,2022-07-31 23:58:58,2022-08-01 00:05:11,Wood St & 35th St,KA1503000066,Halsted St & 35th St,TA1308000043,41.830123,-87.670314,41.830661,-87.647172,casual
618136,9D9B50749D946176,classic_bike,2022-07-31 23:59:05,2022-08-01 00:24:14,St. Clair St & Erie St,13016,Halsted St & Wrightwood Ave,TA1309000061,41.894345,-87.622798,41.929143,-87.649077,member
264294,BE56236D4E602A10,classic_bike,2022-07-31 23:59:29,2022-08-01 00:06:24,Ravenswood Ave & Irving Park Rd,TA1307000149,Clark St & Leland Ave,TA1309000014,41.954690,-87.673930,41.967096,-87.667429,member

--


Now we have to extract some new features from started_at column like ride_year, ride_month, ride_day_of_week, ride_week_no and ride_hour


--

In [86]:
df_all_3['ride_year'] = df_all_3.started_at.dt.year
df_all_3['ride_month'] = df_all_3.started_at.dt.month_name()
df_all_3['ride_day_of_week'] = df_all_3.started_at.dt.day_name() #there will be an extra column for this...we shall drop this later
df_all_3['ride_week_no'] = df_all_3.started_at.dt.weekofyear
df_all_3['ride_hour'] = df_all_3.started_at.dt.hour

C:\Users\proty\AppData\Local\Temp/ipykernel_30440/999486709.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all_3['ride_year'] = df_all_3.started_at.dt.year
C:\Users\proty\AppData\Local\Temp/ipykernel_30440/999486709.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all_3['ride_month'] = df_all_3.started_at.dt.month_name()
C:\Users\proty\AppData\Local\Temp/ipykernel_30440/999486709.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all_3['ride_day_of_week'] = df_all_3.started_at.dt.day_name() #there will be an extra column for this...we shall drop this later
C:\Users\proty\AppData\Local\Temp/ipykernel_30440/999486709.py:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df_all_3['ride_week_no'] = df_all_3.started_at.dt.weekofyear
C:\Users\proty\AppData\Local\Temp/ipykernel_30440/999486709.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all_3['ride_week_no'] = df_all_3.started_at.dt.weekofyear
C:\Users\proty\AppData\Local\Temp/ipykernel_30440/999486709.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all_3['ride_hour'] = df_all_3.started_at.dt.hour

In [87]:
# Lets verify
df_all_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4629230 entries, 175325 to 264294
Data columns (total 19 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  ride_year           int64
 14  ride_month          object
 15  ride_weekday        object
 16  ride_week_no        int64
 17  ride_hour           int64
 18  ride_day_of_week    object
dtypes: datetime64[ns](2), float64(4), int64(3), object(10)
memory usage: 706.4+ MB

In [88]:
df_all_3.sample(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_year,ride_month,ride_weekday,ride_week_no,ride_hour,ride_day_of_week
290055,8A695B446D947B4C,classic_bike,2022-07-12 10:41:36,2022-07-12 10:48:08,Michigan Ave & 14th St,TA1307000124,Federal St & Polk St,SL-008,41.864059,-87.623727,41.872078,-87.629544,member,2022,July,Tuesday,28,10,Tuesday
338754,1F44DC321F205287,classic_bike,2021-08-08 10:55:12,2021-08-08 11:01:48,Wabash Ave & Roosevelt Rd,TA1305000002,Clinton St & Roosevelt Rd,WL-008,41.867227,-87.625961,41.867118,-87.641088,casual,2021,August,Sunday,31,10,Sunday
48777,87FFCE77D65DAFD9,electric_bike,2021-12-03 00:03:11,2021-12-03 01:19:52,Michigan Ave & Madison St,13036,Michigan Ave & Madison St,13036,41.881761,-87.625041,41.881787,-87.625191,casual,2021,December,Friday,48,0,Friday
309453,B770CEA3AE25BD7E,electric_bike,2022-07-20 13:40:41,2022-07-20 13:55:24,Lincoln Ave & Diversey Pkwy,TA1307000064,Larrabee St & Kingsbury St,TA1306000009,41.932257,-87.658638,41.897764,-87.642884,member,2022,July,Wednesday,29,13,Wednesday
383768,D429B6FE97E1714C,classic_bike,2021-09-12 07:06:34,2021-09-12 07:16:35,Lake Park Ave & 35th St,KA1503000004,Calumet Ave & 33rd St,13217,41.831274,-87.608799,41.834900,-87.617930,casual,2021,September,Sunday,36,7,Sunday

In [101]:
#checking each new column has the correct values
for col in ['ride_year','ride_month','ride_day_of_week','ride_week_no','ride_hour']:
    print(col, df_all_3[col].unique())
    print(col, df_all_3[col].unique().shape)

ride_year [2021 2022]
ride_year (2,)
ride_month ['August' 'September' 'October' 'November' 'December' 'January' 'February'
 'March' 'April' 'May' 'June' 'July']
ride_month (12,)
ride_day_of_week ['Sunday' 'Monday' 'Tuesday' 'Wednesday' 'Thursday' 'Friday' 'Saturday']
ride_day_of_week (7,)
ride_week_no [30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52  1
  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
 26 27 28 29]
ride_week_no (52,)
ride_hour [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
ride_hour (24,)

--

Now we shall create a weekday_weekend column from ride_day_of_week

--

In [91]:
df_all_3['weekday_weekend'] = df_all_3.ride_day_of_week.apply(lambda x: 'weekend' if x in ['Saturday','Sunday'] else 'weekday')

C:\Users\proty\AppData\Local\Temp/ipykernel_30440/2125822391.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all_3['weekday_weekend'] = df_all_3.ride_day_of_week.apply(lambda x: 'weekend' if x in ['Saturday','Sunday'] else 'weekday')

In [102]:
#verifying
df_all_3.sample(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_year,ride_month,ride_weekday,ride_week_no,ride_hour,ride_day_of_week,weekday_weekend
190333,F4C05D9E42DC5E96,classic_bike,2021-10-19 12:01:52,2021-10-19 12:49:11,Michigan Ave & Oak St,13042,Shedd Aquarium,15544,41.900960,-87.623777,41.867226,-87.615355,member,2021,October,Tuesday,42,12,Tuesday,weekday
282181,6D204563C976E876,classic_bike,2021-10-20 22:13:59,2021-10-20 22:21:43,Peoria St & Jackson Blvd,13158,Throop St & Taylor St,13139,41.877642,-87.649618,41.868968,-87.659141,member,2021,October,Wednesday,42,22,Wednesday,weekday
403704,B315CFCD781A782E,electric_bike,2021-09-19 10:43:54,2021-09-19 11:09:07,Shedd Aquarium,15544,DuSable Lake Shore Dr & Ohio St,TA1306000029,41.867263,-87.615369,41.892568,-87.614405,member,2021,September,Sunday,37,10,Sunday,weekend
360420,6B516DFFEE579D58,classic_bike,2021-08-19 17:11:08,2021-08-19 17:29:37,Wells St & Polk St,SL-011,Morgan St & Lake St,TA1306000015,41.872596,-87.633502,41.885483,-87.652305,member,2021,August,Thursday,33,17,Thursday,weekday
403270,0B1D84FC9A4D0F9B,electric_bike,2021-08-08 16:33:04,2021-08-08 16:36:11,Clark St & Wrightwood Ave,TA1305000014,Broadway & Barry Ave,13137,41.929533,-87.643087,41.937551,-87.644227,member,2021,August,Sunday,31,16,Sunday,weekend

In [94]:
df_all_3.weekday_weekend.unique()

array(['weekend', 'weekday'], dtype=object)

--

We shall create a season column from ride_month as given in this article - https://www.newyork.com.au/travel-season-new-york/

--

In [108]:
# first, we shall create a function
def get_season(mon_name):
        if mon_name in ['December','January','February']:
            return 'Winter(Dec-Feb)'
        elif mon_name in ['March','April','May']:
            return 'Spring(Mar-May)'
        elif mon_name in ['June','July','August']:
            return 'Summer(Jun-Aug)'
        elif mon_name in ['September','October','November']:
            return 'Autumn(Sep-Nov)'

In [109]:
# Now, lets apply the function to ride_month column
df_all_3['ride_season'] = df_all_3.ride_month.apply(get_season)

C:\Users\proty\AppData\Local\Temp/ipykernel_30440/1667346011.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all_3['ride_season'] = df_all_3.ride_month.apply(get_season)

In [110]:
#verify
df_all_3.sample(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,end_lng,member_casual,ride_year,ride_month,ride_weekday,ride_week_no,ride_hour,ride_day_of_week,weekday_weekend,ride_season
252003,679E2CE4ED08B0A4,classic_bike,2022-06-03 14:43:33,2022-06-03 15:00:51,Lake Park Ave & 53rd St,KA1503000059,Ellis Ave & 53rd St,KA1503000052,41.799494,-87.586450,...,-87.600958,member,2022,June,Friday,22,14,Friday,weekday,Summer(Jun-Aug)
66570,C1D05196E4FD536B,classic_bike,2022-03-02 12:04:21,2022-03-02 12:16:36,Orleans St & Chestnut St (NEXT Apts),620,Canal St & Monroe St,13056,41.898203,-87.637536,...,-87.639530,member,2022,March,Wednesday,9,12,Wednesday,weekday,Spring(Mar-May)
91360,B33A3DCB09F750FF,electric_bike,2022-02-21 11:47:42,2022-02-21 12:06:09,Kingsbury St & Kinzie St,KA1503000043,Clark St & Drummond Pl,TA1307000142,41.889204,-87.638662,...,-87.644336,member,2022,February,Monday,8,11,Monday,weekday,Winter(Dec-Feb)
112424,E91703D30EAEB1AE,classic_bike,2022-07-18 15:13:07,2022-07-18 15:26:47,Dearborn Pkwy & Delaware Pl,TA1307000128,LaSalle St & Washington St,13006,41.898969,-87.629912,...,-87.632530,casual,2022,July,Monday,29,15,Monday,weekday,Summer(Jun-Aug)
455768,034C4ABE43EF6E59,classic_bike,2021-09-15 23:39:23,2021-09-16 01:10:28,Clark St & Armitage Ave,13146,Clark St & Lake St,KA1503000012,41.918306,-87.636282,...,-87.630876,casual,2021,September,Wednesday,37,23,Wednesday,weekday,Autumn(Sep-Nov)

In [111]:
df_all_3.ride_season.unique()

array(['Summer(Jun-Aug)', 'Autumn(Sep-Nov)', 'Winter(Dec-Feb)',
       'Spring(Mar-May)'], dtype=object)

--


Looks good till now. Now lets calculate ride_len from started_at and ended_at columns


--

In [112]:
#creating a new duplicate dataframe
df_all_4 = df_all_3

In [114]:
#assigning a variable and then creating a new column
ride_len = df_all_4.ended_at - df_all_4.started_at

In [117]:
ride_len = np.round(ride_len.dt.total_seconds() / 60, 2)

In [119]:
df_all_4['ride_len_mins'] = ride_len

C:\Users\proty\AppData\Local\Temp/ipykernel_30440/95347422.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all_4['ride_len_mins'] = ride_len

In [120]:
#verify
df_all_4.sample(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,member_casual,ride_year,ride_month,ride_weekday,ride_week_no,ride_hour,ride_day_of_week,weekday_weekend,ride_season,ride_len_mins
352831,65F45A30E14BEA26,classic_bike,2021-09-23 14:15:24,2021-09-23 14:30:56,Wilton Ave & Diversey Pkwy,TA1306000014,Greenview Ave & Diversey Pkwy,13294,41.932418,-87.652705,...,member,2021,September,Thursday,38,14,Thursday,weekday,Autumn(Sep-Nov),15.53
16151,E6B67BB73AEC3D06,electric_bike,2021-11-08 07:12:08,2021-11-08 07:21:22,Clark St & Newport St,632,Ravenswood Ave & Lawrence Ave,TA1309000066,41.944451,-87.654724,...,member,2021,November,Monday,45,7,Monday,weekday,Autumn(Sep-Nov),9.23
743925,08F13C0FCDBB02D9,classic_bike,2021-08-26 18:44:04,2021-08-26 19:08:46,Ashland Ave & Belle Plaine Ave,13249,Clark St & Lincoln Ave,13179,41.956057,-87.668835,...,casual,2021,August,Thursday,34,18,Thursday,weekday,Summer(Jun-Aug),24.70
314813,9E68BCB21ED3AEDE,electric_bike,2022-05-20 16:28:05,2022-05-20 16:37:17,Franklin St & Illinois St,RN-,Wells St & Concord Ln,TA1308000050,41.890972,-87.635414,...,casual,2022,May,Friday,20,16,Friday,weekday,Spring(Mar-May),9.20
25688,C8EEC193081EB701,classic_bike,2022-01-20 07:52:41,2022-01-20 07:56:28,Southport Ave & Waveland Ave,13235,Sheffield Ave & Waveland Ave,TA1307000126,41.948150,-87.663940,...,member,2022,January,Thursday,3,7,Thursday,weekday,Winter(Dec-Feb),3.78

In [121]:
#lets look for any invalid or outliers in ride_len_mins
df_all_4.describe()

,start_lat,start_lng,end_lat,end_lng,ride_year,ride_week_no,ride_hour,ride_len_mins
count,4.629230e+06,4.629230e+06,4.629230e+06,4.629230e+06,4.629230e+06,4.629230e+06,4.629230e+06,4.629230e+06
mean,4.190258e+01,-8.764433e+01,4.190286e+01,-8.764457e+01,2.021524e+03,2.922143e+01,1.420623e+01,1.850447e+01
std,4.150112e-02,2.499400e-02,4.163523e-02,2.437708e-02,4.994473e-01,1.085706e+01,4.984290e+00,8.200767e+01
min,4.164850e+01,-8.783325e+01,4.164850e+01,-8.783000e+01,2.021000e+03,1.000000e+00,0.000000e+00,-1.290800e+02
25%,4.188189e+01,-8.765703e+01,4.188209e+01,-8.765804e+01,2.021000e+03,2.200000e+01,1.100000e+01,6.400000e+00
50%,4.189766e+01,-8.764122e+01,4.189776e+01,-8.764170e+01,2.022000e+03,3.000000e+01,1.500000e+01,1.122000e+01
75%,4.192676e+01,-8.762798e+01,4.192871e+01,-8.762798e+01,2.022000e+03,3.700000e+01,1.800000e+01,2.018000e+01
max,4.563503e+01,-7.379648e+01,4.216812e+01,-8.752740e+01,2.022000e+03,5.200000e+01,2.300000e+01,4.162917e+04

--

Mmm....looks like there are some negative values as well as some outliers in our data. 41629.17 mins = 29 days. This can be an actual datapoint but we shall treat this as outliers and remove this from dataframe for analysis purposes.

--

In [122]:
# First, let's deal with negative values

df_all_4[df_all_4.ride_len_mins < 0]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,member_casual,ride_year,ride_month,ride_weekday,ride_week_no,ride_hour,ride_day_of_week,weekday_weekend,ride_season,ride_len_mins
358840,B2A56072F18F4FD9,classic_bike,2021-08-07 15:22:13,2021-08-07 15:21:59,Halsted St & Dickens Ave,13192,Halsted St & Dickens Ave,13192,41.919936,-87.648830,...,member,2021,August,Saturday,31,15,Saturday,weekend,Summer(Jun-Aug),-0.23
359357,5B4D4A00D6A4DAAC,classic_bike,2021-08-11 06:56:30,2021-08-11 06:56:25,Halsted St & Dickens Ave,13192,Halsted St & Dickens Ave,13192,41.919936,-87.648830,...,member,2021,August,Wednesday,32,6,Wednesday,weekday,Summer(Jun-Aug),-0.08
359250,121C9511AE8C11CA,classic_bike,2021-08-15 02:36:39,2021-08-15 02:36:36,Halsted St & Dickens Ave,13192,Halsted St & Dickens Ave,13192,41.919936,-87.648830,...,casual,2021,August,Sunday,32,2,Sunday,weekend,Summer(Jun-Aug),-0.05
359572,641EF17482044F18,classic_bike,2021-08-15 15:12:17,2021-08-15 15:12:05,Halsted St & Dickens Ave,13192,Halsted St & Dickens Ave,13192,41.919936,-87.648830,...,member,2021,August,Sunday,32,15,Sunday,weekend,Summer(Jun-Aug),-0.20
358998,84DE853DC2C25C56,classic_bike,2021-08-16 15:40:19,2021-08-16 15:40:08,Halsted St & Dickens Ave,13192,Halsted St & Dickens Ave,13192,41.919936,-87.648830,...,member,2021,August,Monday,33,15,Monday,weekday,Summer(Jun-Aug),-0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27468,C1D6D749139CB6C0,classic_bike,2022-07-26 20:08:04,2022-07-26 19:59:34,Lincoln Ave & Roscoe St*,chargingstx5,Lincoln Ave & Roscoe St*,chargingstx5,41.943350,-87.670668,...,member,2022,July,Tuesday,30,20,Tuesday,weekday,Summer(Jun-Aug),-8.50
27625,D3E7C0B68EFEC32B,classic_bike,2022-07-26 20:20:31,2022-07-26 19:59:34,Lincoln Ave & Roscoe St*,chargingstx5,Lincoln Ave & Roscoe St*,chargingstx5,41.943350,-87.670668,...,casual,2022,July,Tuesday,30,20,Tuesday,weekday,Summer(Jun-Aug),-20.95
545644,B2B4386C03C39C6B,electric_bike,2022-07-26 20:22:52,2022-07-26 20:21:19,Lincoln Ave & Roscoe St*,chargingstx5,Lincoln Ave & Roscoe St*,chargingstx5,41.943351,-87.670947,...,casual,2022,July,Tuesday,30,20,Tuesday,weekday,Summer(Jun-Aug),-1.55
545645,C3B9304C7EEE461A,electric_bike,2022-07-26 20:24:05,2022-07-26 20:22:49,Lincoln Ave & Roscoe St*,chargingstx5,Lincoln Ave & Roscoe St*,chargingstx5,41.943352,-87.670982,...,casual,2022,July,Tuesday,30,20,Tuesday,weekday,Summer(Jun-Aug),-1.27
206576,035C91D5B31A0E17,electric_bike,2022-07-30 09:36:02,2022-07-30 09:35:53,Southport Ave & Belmont Ave,13229,Southport Ave & Belmont Ave,13229,41.939451,-87.663770,...,member,2022,July,Saturday,30,9,Saturday,weekend,Summer(Jun-Aug),-0.15

In [123]:
# We shall be dropping these values

df_all_4 = df_all_4[df_all_4.ride_len_mins >= 0]
df_all_4.describe()

,start_lat,start_lng,end_lat,end_lng,ride_year,ride_week_no,ride_hour,ride_len_mins
count,4.629119e+06,4.629119e+06,4.629119e+06,4.629119e+06,4.629119e+06,4.629119e+06,4.629119e+06,4.629119e+06
mean,4.190258e+01,-8.764433e+01,4.190286e+01,-8.764457e+01,2.021524e+03,2.922124e+01,1.420632e+01,1.850533e+01
std,4.150136e-02,2.499415e-02,4.163548e-02,2.437718e-02,4.994469e-01,1.085707e+01,4.984177e+00,8.200837e+01
min,4.164850e+01,-8.783325e+01,4.164850e+01,-8.783000e+01,2.021000e+03,1.000000e+00,0.000000e+00,0.000000e+00
25%,4.188189e+01,-8.765703e+01,4.188209e+01,-8.765804e+01,2.021000e+03,2.200000e+01,1.100000e+01,6.400000e+00
50%,4.189766e+01,-8.764122e+01,4.189776e+01,-8.764170e+01,2.022000e+03,3.000000e+01,1.500000e+01,1.122000e+01
75%,4.192676e+01,-8.762798e+01,4.192871e+01,-8.762798e+01,2.022000e+03,3.700000e+01,1.800000e+01,2.018000e+01
max,4.563503e+01,-7.379648e+01,4.216812e+01,-8.752740e+01,2.022000e+03,5.200000e+01,2.300000e+01,4.162917e+04

In [134]:
# Now let's deal with outliers

mean_ride_len = df_all_4.ride_len_mins.mean()
std_dev_ride_len = df_all_4.ride_len_mins.std()
upper_limit = mean_ride_len + 3 * std_dev_ride_len
lower_limit = 0

In [135]:
#first lets see the ouliers


df_all_4[(df_all_4.ride_len_mins > upper_limit) | (df_all_4.ride_len_mins < lower_limit)]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,member_casual,ride_year,ride_month,ride_weekday,ride_week_no,ride_hour,ride_day_of_week,weekday_weekend,ride_season,ride_len_mins
713571,653D491399CB0334,classic_bike,2021-08-01 00:04:19,2021-08-01 09:16:43,Wilton Ave & Diversey Pkwy,TA1306000014,Southport Ave & Wellington Ave,TA1307000006,41.932418,-87.652705,...,casual,2021,August,Sunday,30,0,Sunday,weekend,Summer(Jun-Aug),552.40
368289,80CDD6C484C32A45,classic_bike,2021-08-01 00:37:27,2021-08-01 09:30:42,Lincoln Ave & Belmont Ave,TA1309000042,Ashland Ave & Wrightwood Ave,13296,41.939365,-87.668385,...,casual,2021,August,Sunday,30,0,Sunday,weekend,Summer(Jun-Aug),533.25
408375,9EBAEA1B8AFC3EF5,docked_bike,2021-08-01 00:50:02,2021-08-01 13:17:52,Wells St & Evergreen Ave,TA1308000049,Burling St & Diversey Pkwy,TA1309000036,41.906724,-87.634830,...,casual,2021,August,Sunday,30,0,Sunday,weekend,Summer(Jun-Aug),747.83
182774,C66D9037F13E15E3,docked_bike,2021-08-01 01:12:20,2021-08-01 08:11:00,Peoria St & Jackson Blvd,13158,Wood St & Milwaukee Ave,13221,41.877642,-87.649618,...,casual,2021,August,Sunday,30,1,Sunday,weekend,Summer(Jun-Aug),418.67
398119,C693ED3C660C564A,docked_bike,2021-08-01 01:19:22,2021-08-01 11:12:00,Montrose Harbor,TA1308000012,Wilton Ave & Belmont Ave,TA1307000134,41.963982,-87.638181,...,casual,2021,August,Sunday,30,1,Sunday,weekend,Summer(Jun-Aug),592.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125909,AD444715A00F7401,classic_bike,2022-07-31 19:52:53,2022-08-01 09:47:22,Larrabee St & Oak St,KA1504000116,Clybourn Ave & Division St,TA1307000115,41.900219,-87.642985,...,casual,2022,July,Sunday,30,19,Sunday,weekend,Summer(Jun-Aug),834.48
132557,6C5197F3BA64F681,docked_bike,2022-07-31 21:08:53,2022-08-01 02:27:28,Shedd Aquarium,15544,State St & Van Buren St,TA1305000035,41.867226,-87.615355,...,casual,2022,July,Sunday,30,21,Sunday,weekend,Summer(Jun-Aug),318.58
210251,D157AA150004B808,classic_bike,2022-07-31 21:19:40,2022-08-01 08:42:27,Halsted St & Roosevelt Rd,TA1305000017,Damen Ave & Cortland St,13133,41.867324,-87.648625,...,casual,2022,July,Sunday,30,21,Sunday,weekend,Summer(Jun-Aug),682.78
173121,431EC85B730BE3EF,docked_bike,2022-07-31 22:46:33,2022-08-01 04:00:26,Calumet Ave & 18th St,13102,Burnham Harbor,15545,41.857611,-87.619407,...,casual,2022,July,Sunday,30,22,Sunday,weekend,Summer(Jun-Aug),313.88
454323,80E1C8304D4797B0,classic_bike,2022-07-31 23:17:11,2022-08-01 13:26:03,Shore Dr & 55th St,TA1308000009,University Ave & 57th St,KA1503000071,41.795212,-87.580715,...,casual,2022,July,Sunday,30,23,Sunday,weekend,Summer(Jun-Aug),848.87

In [136]:
# As the outliers count for only a small percentage of data and imputation is not possible, we shall drop these records

df_all_4 = df_all_4[(df_all_4.ride_len_mins <= upper_limit) & (df_all_4.ride_len_mins >= lower_limit)]
df_all_4.describe()

,start_lat,start_lng,end_lat,end_lng,ride_year,ride_week_no,ride_hour,ride_len_mins
count,4.621853e+06,4.621853e+06,4.621853e+06,4.621853e+06,4.621853e+06,4.621853e+06,4.621853e+06,4.621853e+06
mean,4.190259e+01,-8.764433e+01,4.190287e+01,-8.764457e+01,2.021524e+03,2.922153e+01,1.420752e+01,1.716902e+01
std,4.148011e-02,2.498685e-02,4.161137e-02,2.436641e-02,4.994458e-01,1.085855e+01,4.981340e+00,2.034397e+01
min,4.164850e+01,-8.783325e+01,4.164850e+01,-8.783000e+01,2.021000e+03,1.000000e+00,0.000000e+00,0.000000e+00
25%,4.188189e+01,-8.765703e+01,4.188209e+01,-8.765804e+01,2.021000e+03,2.200000e+01,1.100000e+01,6.400000e+00
50%,4.189766e+01,-8.764123e+01,4.189776e+01,-8.764170e+01,2.022000e+03,3.000000e+01,1.500000e+01,1.120000e+01
75%,4.192676e+01,-8.762798e+01,4.192871e+01,-8.762798e+01,2.022000e+03,3.700000e+01,1.800000e+01,2.012000e+01
max,4.563503e+01,-7.379648e+01,4.216812e+01,-8.752740e+01,2.022000e+03,5.200000e+01,2.300000e+01,2.645000e+02

--

Looks good now. Now...time for the start and end station details column.

--

In [137]:
df_all_5 = df_all_4

In [145]:
#Lets find how many unique values are there 
df_all_5.start_station_name.unique().shape

(1306,)

In [140]:
df_all_5.start_station_id.unique().shape

(1170,)

--

I was planning to get routes from start station and end station. But it looks like due to some errors, some start stations(and may be end station as well) have same id. So we shall be dropping these columns afterwards as they are of no use.

--

--

Finally lets look into member_casual column

--

In [146]:
df_all_6 = df_all_5

In [147]:
df_all_6.member_casual.unique()

array(['member', 'casual'], dtype=object)

In [148]:
df_all_6.member_casual.describe()

count     4621853
unique          2
top        member
freq      2678743
Name: member_casual, dtype: object

--

Looks all right. Lets take a final look into our data

--

In [149]:
df_all_6

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,member_casual,ride_year,ride_month,ride_weekday,ride_week_no,ride_hour,ride_day_of_week,weekday_weekend,ride_season,ride_len_mins
175325,D6AC43863387B96A,classic_bike,2021-08-01 00:00:04,2021-08-01 00:13:28,Clark St & Wrightwood Ave,TA1305000014,Ashland Ave & Wrightwood Ave,13296,41.929546,-87.643118,...,member,2021,August,Sunday,30,0,Sunday,weekend,Summer(Jun-Aug),13.40
25013,00015E7CD37F64C4,classic_bike,2021-08-01 00:00:17,2021-08-01 00:05:10,Racine Ave & Fullerton Ave,TA1306000026,Halsted St & Wrightwood Ave,TA1309000061,41.925563,-87.658404,...,member,2021,August,Sunday,30,0,Sunday,weekend,Summer(Jun-Aug),4.88
782029,3B9554C394136D13,classic_bike,2021-08-01 00:00:19,2021-08-01 00:05:54,Wells St & Huron St,TA1306000012,Wells St & Evergreen Ave,TA1308000049,41.894722,-87.634362,...,casual,2021,August,Sunday,30,0,Sunday,weekend,Summer(Jun-Aug),5.58
397098,3F35D7C35A1DB902,classic_bike,2021-08-01 00:00:27,2021-08-01 00:12:17,Halsted St & Dickens Ave,13192,Wilton Ave & Belmont Ave,TA1307000134,41.919936,-87.648830,...,member,2021,August,Sunday,30,0,Sunday,weekend,Summer(Jun-Aug),11.83
777801,A39DD0D9AD715E27,classic_bike,2021-08-01 00:00:32,2021-08-01 00:12:06,Broadway & Waveland Ave,13325,Lincoln Ave & Roscoe St,TA1307000138,41.949074,-87.648636,...,casual,2021,August,Sunday,30,0,Sunday,weekend,Summer(Jun-Aug),11.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359852,4EA30C562A5E4627,classic_bike,2022-07-31 23:58:41,2022-08-01 00:03:48,Clark St & Armitage Ave,13146,Wells St & Evergreen Ave,TA1308000049,41.918306,-87.636282,...,casual,2022,July,Sunday,30,23,Sunday,weekend,Summer(Jun-Aug),5.12
189871,A9E5A3BD76BB3588,docked_bike,2022-07-31 23:58:47,2022-08-01 00:06:04,Southport Ave & Roscoe St,13071,Damen Ave & Melrose Ave,13143,41.943739,-87.664020,...,casual,2022,July,Sunday,30,23,Sunday,weekend,Summer(Jun-Aug),7.28
147856,E77BC768DD3C65C4,electric_bike,2022-07-31 23:58:58,2022-08-01 00:05:11,Wood St & 35th St,KA1503000066,Halsted St & 35th St,TA1308000043,41.830123,-87.670314,...,casual,2022,July,Sunday,30,23,Sunday,weekend,Summer(Jun-Aug),6.22
618136,9D9B50749D946176,classic_bike,2022-07-31 23:59:05,2022-08-01 00:24:14,St. Clair St & Erie St,13016,Halsted St & Wrightwood Ave,TA1309000061,41.894345,-87.622798,...,member,2022,July,Sunday,30,23,Sunday,weekend,Summer(Jun-Aug),25.15
264294,BE56236D4E602A10,classic_bike,2022-07-31 23:59:29,2022-08-01 00:06:24,Ravenswood Ave & Irving Park Rd,TA1307000149,Clark St & Leland Ave,TA1309000014,41.954690,-87.673930,...,member,2022,July,Sunday,30,23,Sunday,weekend,Summer(Jun-Aug),6.92

--

Lets drop all the unnecessary columns like start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, ride_weekday from the dataframe

--

In [150]:
df_final = df_all_6.drop(['start_station_name','start_station_id','end_station_name','end_station_id','start_lat','start_lng','end_lat','end_lng','ride_weekday'], axis=1)

In [152]:
df_final.sample(7)

,ride_id,rideable_type,started_at,ended_at,member_casual,ride_year,ride_month,ride_week_no,ride_hour,ride_day_of_week,weekday_weekend,ride_season,ride_len_mins
241504,334B87C8E5E6E085,classic_bike,2021-08-22 13:31:17,2021-08-22 14:04:00,member,2021,August,33,13,Sunday,weekend,Summer(Jun-Aug),32.72
319565,09513997E9E671CD,classic_bike,2022-06-09 21:35:08,2022-06-09 22:05:07,member,2022,June,23,21,Thursday,weekday,Summer(Jun-Aug),29.98
96550,BE3F3026E33C0C5D,classic_bike,2022-05-13 23:55:00,2022-05-14 00:11:11,member,2022,May,19,23,Friday,weekday,Spring(Mar-May),16.18
29386,E1D365F93346ADFF,classic_bike,2022-06-26 20:39:25,2022-06-26 20:50:30,member,2022,June,25,20,Sunday,weekend,Summer(Jun-Aug),11.08
182426,D39A9770C65E5AAD,electric_bike,2021-10-26 17:35:42,2021-10-26 17:42:03,member,2021,October,43,17,Tuesday,weekday,Autumn(Sep-Nov),6.35
123295,06BDDF896F6D2CCC,classic_bike,2022-06-19 17:42:00,2022-06-19 17:53:22,casual,2022,June,24,17,Sunday,weekend,Summer(Jun-Aug),11.37
703497,F3AA9C3C217DC473,classic_bike,2022-06-09 20:55:00,2022-06-09 21:21:39,casual,2022,June,23,20,Thursday,weekday,Summer(Jun-Aug),26.65

Renaming ride_hour to ride_hour_of_day

In [154]:
df_final.rename(columns={'ride_hour':'ride_hour_of_day'}, inplace = True)

In [155]:
df_final.sample(5)

,ride_id,rideable_type,started_at,ended_at,member_casual,ride_year,ride_month,ride_week_no,ride_hour_of_day,ride_day_of_week,weekday_weekend,ride_season,ride_len_mins
184866,1EBDE41E5A3F9BDB,classic_bike,2021-09-29 06:45:10,2021-09-29 07:09:10,member,2021,September,39,6,Wednesday,weekday,Autumn(Sep-Nov),24.00
174867,3F37352287F99F6A,classic_bike,2022-05-24 18:55:19,2022-05-24 19:00:37,member,2022,May,21,18,Tuesday,weekday,Spring(Mar-May),5.30
432865,4012F7AFC13AF4C1,classic_bike,2021-10-11 11:58:08,2021-10-11 12:06:29,casual,2021,October,41,11,Monday,weekday,Autumn(Sep-Nov),8.35
545856,70A2A3C011B4F286,classic_bike,2021-09-01 20:51:48,2021-09-01 20:54:31,casual,2021,September,35,20,Wednesday,weekday,Autumn(Sep-Nov),2.72
327950,C0D4B36B43D42223,electric_bike,2022-04-16 18:23:35,2022-04-16 18:42:11,member,2022,April,15,18,Saturday,weekend,Spring(Mar-May),18.60

In [156]:
df_final.shape

(4621853, 13)

### Saving as csv files

In [157]:
df_final.to_csv('./aug2021_to_jul2022_ready_for_analysis.csv', index=False)

In [158]:
df_all_1.to_csv('./checkpoint_dfs/df_all_1.csv', index = False)
df_all_2.to_csv('./checkpoint_dfs/df_all_2.csv', index = False)
df_all_3.to_csv('./checkpoint_dfs/df_all_3.csv', index = False)
df_all_4.to_csv('./checkpoint_dfs/df_all_4.csv', index = False)
df_all_5.to_csv('./checkpoint_dfs/df_all_5.csv', index = False)
df_all_6.to_csv('./checkpoint_dfs/df_all_6.csv', index = False)